  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
            <a href="/">
              <delayed-class delay="3500" addclass="glyphicon glyphicon-tree-deciduous"></delayed-class>
              <baffle-tag text="Welcome to Mutant.city"></baffle-tag>
            </a>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/blog">
            <delayed-class delay="3500" addclass="glyphicon glyphicon-user"></delayed-class>
            <baffle-tag text="Blog"></baffle-tag>
          </a>
        </li>

        <li>
          <a href="/aboot">
            <delayed-class delay="3500" addclass="glyphicon glyphicon-user"></delayed-class>
            <baffle-tag text="Aboot"></baffle-tag>
          </a>
        </li>

        <li>
          <a href="/portfolio">
            <delayed-class delay="3500" addclass="glyphicon glyphicon-fire"></delayed-class>
            <baffle-tag text="Portfolio"></baffle-tag>
          </a>
        </li>

        <li>
          <a href="/links">
            <delayed-class delay="3500" addclass="glyphicon glyphicon-star"></delayed-class>
            <baffle-tag text="Portfolio"></baffle-tag>
          </a>
        </li>
      </ul>
    </div><!--/.container-fluid-->
  </nav>
