<%= partial("partials/navbar",  :locals => { :baffle_text => "Aboot" }) %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<img src="/assets/img/nick_n_linus.jpg" class="img-responsive img-rounded">
			</div>
			<div class="col-md-10">

			<%= partial "pages/aboot" %>
			</div>
		</div>
	</div>