<%= partial("partials/navbar",  :locals => { :baffle_text => "Welcome to Mutant.City!" }) %>

<div class="container-fluid">



<div id="container">
	<canvas id="testCanvas"></canvas>
</div>
<script src="/assets/vendor/stats/stats.min.js"></script>
<script src="/assets/vendor/proton/proton.min.js"></script>
<script src="/assets/js/proton_script.js"></script>

</div>